{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14977"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries/TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n      \"name\": \"TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n      \"type\": \"testBaseAccounts/testSummaries\",\r\n      \"properties\": {\r\n        \"testSummaryId\": \"fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n        \"packageId\": \"/SUBSCRIPTIONS/9FABF001-9C1F-4AAB-9451-E431DA271956/RESOURCEGROUPS/TESTBASE_RG/PROVIDERS/MICROSOFT.TESTBASE/TESTBASEACCOUNTS/TESTBASEACCOUNT_KAIFA/Packages/PACKAGE1_KAIFA-1.0\",\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"applicationVersion\": \"1.0\",\r\n        \"executionStatus\": \"Failed\",\r\n        \"grade\": \"NotAvailable\",\r\n        \"testStatus\": \"None\",\r\n        \"testRunTime\": \"2021-05-21T19:34:21.0363469Z\",\r\n        \"featureUpdatesTestSummary\": {\r\n          \"executionStatus\": \"None\",\r\n          \"grade\": \"None\",\r\n          \"testStatus\": \"None\",\r\n          \"testRunTime\": null,\r\n          \"osUpdateTestSummaries\": []\r\n        },\r\n        \"securityUpdatesTestSummary\": {\r\n          \"executionStatus\": \"Failed\",\r\n          \"grade\": \"NotAvailable\",\r\n          \"testStatus\": \"None\",\r\n          \"testRunTime\": \"2021-05-21T19:34:21.0363469Z\",\r\n          \"osUpdateTestSummaries\": [\r\n            {\r\n              \"osName\": \"Windows Server 2016 - Server Core\",\r\n              \"releaseName\": \"2021.06 B\",\r\n              \"buildRevision\": \"4462\",\r\n              \"releaseVersionDate\": \"2021-05-14T16:22:00Z\",\r\n              \"flightingRing\": \"\",\r\n              \"testType\": \"OutOfBoxTest\",\r\n              \"buildVersion\": \"14393.4462\",\r\n              \"executionStatus\": \"Failed\",\r\n              \"testStatus\": \"None\",\r\n              \"grade\": \"NotAvailable\",\r\n              \"testRunTime\": \"2021-05-16T11:44:45.4279748Z\"\r\n            },\r\n            {\r\n              \"osName\": \"Windows 10 1803\",\r\n              \"releaseName\": \"2021.06 B\",\r\n              \"buildRevision\": \"2207\",\r\n              \"releaseVersionDate\": \"2021-04-30T14:52:00Z\",\r\n              \"flightingRi[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries/TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ],
        "x-ms-providerhub-t[...]
