{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14973"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries/TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n      \"name\": \"TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n      \"type\": \"testBaseAccounts/testSummaries\",\r\n      \"properties\": {\r\n        \"testSummaryId\": \"fd550cae-fe50-3cd9-bf95-4e51be898883\",\r\n        \"packageId\": \"/SUBSCRIPTIONS/9FABF001-9C1F-4AAB-9451-E431DA271956/RESOURCEGROUPS/TESTBASE_RG/PROVIDERS/MICROSOFT.TESTBASE/TESTBASEACCOUNTS/TESTBASEACCOUNT_KAIFA/Packages/PACKAGE1_KAIFA-1.0\",\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"applicationVersion\": \"1.0\",\r\n        \"executionStatus\": \"NotExecuted\",\r\n        \"grade\": \"NotAvailable\",\r\n        \"testRunTime\": \"2021-04-24T03:05:45.7091633Z\",\r\n        \"featureUpdatesTestSummary\": {\r\n          \"executionStatus\": \"None\",\r\n          \"grade\": \"None\",\r\n          \"testRunTime\": null,\r\n          \"osUpdateTestSummaries\": []\r\n        },\r\n        \"securityUpdatesTestSummary\": {\r\n          \"executionStatus\": \"NotExecuted\",\r\n          \"grade\": \"NotAvailable\",\r\n          \"testRunTime\": \"2021-04-24T03:05:45.7091633Z\",\r\n          \"osUpdateTestSummaries\": [\r\n            {\r\n              \"osName\": \"Windows Server 2019\",\r\n              \"releaseName\": \"2021.05 B\",\r\n              \"buildRevision\": \"1932\",\r\n              \"releaseVersionDate\": \"2021-04-19T17:27:00Z\",\r\n              \"flightingRing\": \"\",\r\n              \"testType\": \"OutOfBoxTest\",\r\n              \"buildVersion\": \"17763.1932\",\r\n              \"executionStatus\": \"NotExecuted\",\r\n              \"grade\": \"NotAvailable\",\r\n              \"testRunTime\": null\r\n            },\r\n            {\r\n              \"osName\": \"Windows Server 2019 - Server Core\",\r\n              \"releaseName\": \"2021.05 B\",\r\n              \"buildRevision\": \"1932\",\r\n              \"releaseVersionDate\": \"2021-04-19T17:27:00Z\",\r\n              \"flightingRing\": \"\",\r\n              \"testType\": \"Out[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/testSummaries/TestSummary-fd550cae-fe50-3cd9-bf95-4e51be898883?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ],
        "x-ms-providerhub-t[...]
