{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0100ca15-0000-0700-0000-607e49390000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa\",\r\n  \"name\": \"testBaseAccount_kaifa\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/20210428112055768?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/20210428112055768' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"testbase5521_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"location\": \"Global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1600173c-0000-0700-0000-6088d49a0000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/2d961772-dba6-4ea1-94db-96035f677ef5?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/2d961772-dba6-4ea1-94db-96035f677ef5?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc\",\r\n  \"name\": \"testbase5521_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"testbase5521_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-04-28T03:20:58.409507Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-04-28T03:20:58.409507Z\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Accepted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/2d961772-dba6-4ea1-94db-96035f677ef5?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"090003b8-0000-0700-0000-6088d49b0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/2d961772-dba6-4ea1-94db-96035f677ef5\",\r\n  \"name\": \"2d961772-dba6-4ea1-94db-96035f677ef5\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc\",\r\n  \"status\": \"Failed\",\r\n  \"startTime\": \"2021-04-28T03:20:58.6051626Z\",\r\n  \"endTime\": \"2021-04-28T03:20:59.6006462Z\",\r\n  \"percentComplete\": 100.0\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc?api-version=2020-12-16-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S1\",\r\n      \"tier\": \"Standard\"\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210428 112131\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"1600d13c-0000-0700-0000-6088d4bb0000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/231907e2-992b-44cf-80ed-1cfdf98e996c?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/231907e2-992b-44cf-80ed-1cfdf98e996c?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc\",\r\n  \"name\": \"testbase5521_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"etag\": \"\\\"1600233c-0000-0700-0000-6088d49b0000\\\"\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210428 112131\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-04-28T03:20:58.409507Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-04-28T03:21:31.6260859Z\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S1\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Accepted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/231907e2-992b-44cf-80ed-1cfdf98e996c?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"090035b8-0000-0700-0000-6088d4bd0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14991"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/231907e2-992b-44cf-80ed-1cfdf98e996c\",\r\n  \"name\": \"231907e2-992b-44cf-80ed-1cfdf98e996c\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-04-28T03:21:31.7802172Z\",\r\n  \"endTime\": \"2021-04-28T03:21:33.3151966Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"Sku\": {\r\n      \"Name\": \"S1\",\r\n      \"Tier\": \"Standard\"\r\n    },\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase5521_acc?api-version=2020-12-16-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14999"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"error code\",\r\n    \"message\": \"Please use Offboard API instead of Delete\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {
    "TestTestBaseAccountOperations": [
      "testbase5521"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}