{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/20210526173200164?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/20210526173200164' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2d005f8c-0000-0700-0000-608a4edd0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9FABF001-9C1F-4AAB-9451-E431DA271956/resourceGroups/TESTBASE_RG/providers/Microsoft.TestBase/testbaseAccounts/TESTBASEACCOUNT_KAIFA\",\r\n  \"name\": \"TESTBASEACCOUNT_KAIFA\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Failed\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"testbase267_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"location\": \"Global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"85005103-0000-0700-0000-60ae15930000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/30176da4-9e2d-4978-9ac6-e7b8fb3588c9?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/30176da4-9e2d-4978-9ac6-e7b8fb3588c9?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc\",\r\n  \"name\": \"testbase267_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"testbase267_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-05-26T09:32:02.4053795Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-05-26T09:32:02.4053795Z\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Accepted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/30176da4-9e2d-4978-9ac6-e7b8fb3588c9?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"33019d93-0000-0700-0000-60ae15950000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/30176da4-9e2d-4978-9ac6-e7b8fb3588c9\",\r\n  \"name\": \"30176da4-9e2d-4978-9ac6-e7b8fb3588c9\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-26T09:32:02.6903812Z\",\r\n  \"endTime\": \"2021-05-26T09:32:05.3336887Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"Sku\": {\r\n      \"Name\": \"S0\",\r\n      \"Tier\": \"Standard\"\r\n    }\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"8500e903-0000-0700-0000-60ae15b40000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14978"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc\",\r\n  \"name\": \"testbase267_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210526 173235\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S1\",\r\n      \"tier\": \"Standard\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ]\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/160617b5-095d-486f-98fe-1706d7f7069b?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"33012394-0000-0700-0000-60ae15b40000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/160617b5-095d-486f-98fe-1706d7f7069b\",\r\n  \"name\": \"160617b5-095d-486f-98fe-1706d7f7069b\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-26T09:32:35.2808926Z\",\r\n  \"endTime\": \"2021-05-26T09:32:36.7890955Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"Sku\": {\r\n      \"Name\": \"S1\",\r\n      \"Tier\": \"Standard\"\r\n    },\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase267_acc/offboard?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/6ad447b1-0a4d-4322-bc0c-cc2f8b9bc47f?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1196"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/6ad447b1-0a4d-4322-bc0c-cc2f8b9bc47f?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestTestBaseAccountOperations": [
      "testbase267"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}