{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14958"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/TESTBASEACCOUNT_KAIFA/packages/package1_kaifa-2.0\",\r\n      \"name\": \"package1_kaifa-2.0\",\r\n      \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n      \"location\": \"global\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"version\": \"2.0\",\r\n        \"testTypes\": [\r\n          \"OutOfBoxTest\"\r\n        ],\r\n        \"targetOSList\": [\r\n          {\r\n            \"osUpdateType\": \"Feature updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\"\r\n            ]\r\n          },\r\n          {\r\n            \"osUpdateType\": \"Security updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\",\r\n              \"Windows 10 2004\",\r\n              \"Windows 10 1909\",\r\n              \"All Future OS Updates\",\r\n              \"Windows Server 2019\",\r\n              \"Windows Server 2019 - Server Core\",\r\n              \"Windows Server 2016\",\r\n              \"Windows Server 2016 - Server Core\"\r\n            ]\r\n          }\r\n        ],\r\n        \"packageStatus\": \"Ready\",\r\n        \"lastModifiedTime\": \"2021-05-13T01:40:46Z\",\r\n        \"flightingRing\": \"Insider Beta Channel\",\r\n        \"isEnabled\": true,\r\n        \"blobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/320288be-68d2-4c6c-aaf5-c4ac3edd0709/test.zip?sv=2019-07-07&sr=b&sig=vagrCcV7g0gP0%2FREZkhIzp0%2FNeXlw8Xq0EQSV2iNKkU%3D&se=2021-05-14T01%3A38%3A56Z&sp=acw\",\r\n        \"validationResults\": [\r\n          {\r\n            \"validationName\": \"Sanity Checks Validator\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"CopyZipPackage\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"SchedulePackageValidationRun\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          }\r\n        ],\r\n        \"tests\": [\r\n          {\r\n            \"testType\": \"OutOfBoxTest\",\r\n            \"validationRunStatus\": \"Passed\",\r\n            \"isActive\": true,\r\n            \"commands\": [\r\n              {\r\n                \"name\": \"install\",\r\n                \"action\": \"Install\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/install/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": false\r\n              },\r\n              {\r\n                \"name\": \"launch\",\r\n                \"action\": \"Launch\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/launch/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": fal[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210526174343527?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210526174343527' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0/getDownloadUrl?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7577_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/16f1efd4-a033-4108-b2c2-72e5ae244271?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"3301949e-0000-0700-0000-60ae18540000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/16f1efd4-a033-4108-b2c2-72e5ae244271\",\r\n  \"name\": \"16f1efd4-a033-4108-b2c2-72e5ae244271\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-26T09:43:46.2363698Z\",\r\n  \"endTime\": \"2021-05-26T09:43:48.8269306Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"ApplicationName\": \"testbase7577_pkg\",\r\n    \"Version\": \"1.0.0\",\r\n    \"TargetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"SecurityUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\"\r\n        ]\r\n      }\r\n    ],\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"FlightingRing\": \"Insider-Beta-Channel\",\r\n    \"BlobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/prod/83107fe9-8cf4-4e77-9cd4-e79acb7ee52b/689c6f6a-bb9b-416f-8963-400af5bf1981/1/test.zip?sv=2019-07-07&sr=b&sig=%2FCo6pf5tnVghr0zvx0q0l6HCMWzP0tP5OcMhKJGPXT0%3D&se=2021-05-26T03%3A17%3A29Z&sp=rl\",\r\n    \"Tests\": [\r\n      {\r\n        \"testType\": \"OutOfBoxTest\",\r\n        \"validationRunStatus\": \"Unknown\",\r\n        \"isActive\": true,\r\n        \"commands\": [\r\n          {\r\n            \"name\": \"Install\",\r\n            \"action\": \"Install\",\r\n            \"contentType\": \"Path\",\r\n            \"content\": \"test/scripts/install/job.ps1\",\r\n            \"runElevated\": true,\r\n            \"restartAfter\": true,\r\n            \"maxRunTime\": 1800,\r\n            \"runAsInt[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"01018329-0000-0700-0000-60ae18540000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14965"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg\",\r\n  \"name\": \"testbase7577_pkg\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"package_create\": \"20210526 174344\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7577_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"SecurityUpdate\",\r\n        \"targetOSs\": [\r\n          [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"01019429-0000-0700-0000-60ae18740000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg\",\r\n  \"name\": \"testbase7577_pkg\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210526 174418\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7577_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"SecurityUpdate\",\r\n        \"targetOSs\": [\r\n [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210526 174418\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"01019129-0000-0700-0000-60ae18720000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/bfff8f15-63cf-4f26-b42f-d873aaf89158?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1194"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/bfff8f15-63cf-4f26-b42f-d873aaf89158?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg\",\r\n  \"name\": \"testbase7577_pkg\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"Global\",\r\n  \"etag\": \"\\\"01018329-0000-0700-0000-60ae18540000\\\"\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210526 174418\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-05-26T09:43:46.0761654Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-05-26T09:44:18.4757087Z\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7577_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"SecurityUpdate\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 [...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/bfff8f15-63cf-4f26-b42f-d873aaf89158?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"3301049f-0000-0700-0000-60ae18740000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/bfff8f15-63cf-4f26-b42f-d873aaf89158\",\r\n  \"name\": \"bfff8f15-63cf-4f26-b42f-d873aaf89158\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-05-26T09:44:18.6142125Z\",\r\n  \"endTime\": \"2021-05-26T09:44:20.2892806Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7577_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14996"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceDeletionValidateFailed\",\r\n    \"message\": \"Please use HardDelete API instead of Delete\"\r\n  }\r\n}",
      "StatusCode": 400
    }
  ],
  "Names": {
    "TestPackageOperations": [
      "testbase7577"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}