{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0\",\r\n      \"name\": \"package1_kaifa-1.0\",\r\n      \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n      \"location\": \"global\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"version\": \"1.0\",\r\n        \"testTypes\": [\r\n          \"OutOfBoxTest\"\r\n        ],\r\n        \"targetOSList\": [\r\n          {\r\n            \"osUpdateType\": \"Feature updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\"\r\n            ]\r\n          },\r\n          {\r\n            \"osUpdateType\": \"Security updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\",\r\n              \"Windows 10 2004\",\r\n              \"Windows 10 1909\",\r\n              \"Windows 10 1809\",\r\n              \"Windows 10 1803\",\r\n              \"All Future OS Updates\",\r\n              \"Windows Server 2019\",\r\n              \"Windows Server 2019 - Server Core\",\r\n              \"Windows Server 2016\",\r\n              \"Windows Server 2016 - Server Core\"\r\n            ]\r\n          }\r\n        ],\r\n        \"packageStatus\": \"Ready\",\r\n        \"lastModifiedTime\": \"2021-04-21 08:23:50Z\",\r\n        \"flightingRing\": \"Insider Beta Channel\",\r\n        \"isEnabled\": true,\r\n        \"blobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/8fbd0296-264f-4bf5-89e6-4a7db5a17847/test.zip?sv=2019-07-07&sr=b&sig=9UnhAUAxcjgBeaC469V%2B31S9aFH74wlVLDx2UGUPAQA%3D&se=2021-04-21T03%3A25%3A20Z&sp=acw\",\r\n        \"validationResults\": [\r\n          {\r\n            \"validationName\": \"Sanity Checks Validator\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"CopyZipPackage\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"SchedulePackageValidationRun\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          }\r\n        ],\r\n        \"tests\": [\r\n          {\r\n            \"testType\": \"OutOfBoxTest\",\r\n            \"validationRunStatus\": \"Passed\",\r\n            \"isActive\": true,\r\n            \"commands\": [\r\n              {\r\n                \"name\": \"install\",\r\n                \"action\": \"Install\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/install/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": false\r\n              },\r\n              {\r\n                \"name\": \"launch\",\r\n                \"action\": \"Launch\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/launch/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": fal[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210427160754526?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210427160754526' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"da001708-0000-0700-0000-607feb4a0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packa[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package1_kaifa-1.0/getDownloadUrl?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"downloadUrl\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/prod/83107fe9-8cf4-4e77-9cd4-e79acb7ee52b/d72e458f-7b68-4729-b725-fe6cf9cc9306/3/test.zip?sv=2019-07-07&sr=b&sig=XjcsOOaTnh8YjqfBW6i36UljtEBJwwycAFOadbu3QpM%3D&se=2021-04-28T08%3A07%3A56Z&sp=rl\",\r\n  \"expirationTime\": \"2021-04-28T08:07:56Z\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase884_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase884_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"targetOSs\":[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase884_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210427 160757\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase884_pkg' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase884_pkg?api-version=2020-12-16-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 204
    }
  ],
  "Names": {
    "TestPackageOperations": [
      "testbase884"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}