{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates?osUpdateType=SecurityUpdate&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14985"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates/TestResultOs-fd7a56e5-121e-3e31-8571-f856a02a74f2\",\r\n      \"name\": \"TestResultOs-fd7a56e5-121e-3e31-8571-f856a02a74f2\",\r\n      \"type\": \"testBaseAccounts/packages/osUpdates\",\r\n      \"properties\": {\r\n        \"osName\": \"Windows 10 21H1\",\r\n        \"release\": \"2021.05 B\",\r\n        \"flightingRing\": \"\",\r\n        \"buildVersion\": \"19041.985\",\r\n        \"buildRevision\": \"985\",\r\n        \"type\": \"Security\",\r\n        \"releaseVersionDate\": \"2021-04-28T17:22:00Z\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates/TestResultOs-390f7a6a-540b-3371-a139-10e24c138608\",\r\n      \"name\": \"TestResultOs-390f7a6a-540b-3371-a139-10e24c138608\",\r\n      \"type\": \"testBaseAccounts/packages/osUpdates\",\r\n      \"properties\": {\r\n        \"osName\": \"W[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates?osUpdateType=FeatureUpdate&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14984"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": []\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates/TestResultOs-fd7a56e5-121e-3e31-8571-f856a02a74f2?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/osUpdates/TestResultOs-fd7a56e5-121e-3e31-8571-f856a02a74f2\",\r\n  \"name\": \"TestResultOs-fd7a56e5-121e-3e31-8571-f856a02a74f2\",\r\n  \"type\": \"testBaseAccounts/packages/osUpdates\",\r\n  \"properties\": {\r\n    \"osName\": \"Windows 10 21H1\",\r\n    \"release\": \"2021.05 B\",\r\n    \"flightingRing\": \"\",\r\n    \"buildVersion\": \"19041.985\",\r\n    \"buildRevision\": \"985\",\r\n    \"type\": \"Security\",\r\n    \"releaseVersionDate\": \"2021-04-28T17:22:00Z\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}