{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testbase6336_event\",\r\n      \"properties\": {\r\n        \"eventName\": \"testbase6336_event\",\r\n        \"receivers\": [\r\n          {\r\n            \"receiverType\": \"UserObjects\",\r\n            \"receiverValue\": {\r\n              \"userObjectReceiverValue\": {\r\n                \"userObjectIds\": [\r\n                  \"test\",\r\n                  \"test-2\"\r\n                ]\r\n              },\r\n              \"subscriptionReceiverValue\": null,\r\n              \"distributionGroupListReceiverValue\": null\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testbase2303_event\",\r\n      \"properties\": {\r\n        \"eventName\": \"testbase2303_event\",\r\n        \"receivers\": [\r\n          {\r\n            \"receiverType\": \"UserObjects\",\r\n            \"receiverValue\": {\r\n              \"userObjectReceiverValue\": {\r\n                \"userObjectIds\": [\r\n                  \"test\",\r\n                  \"test-2\"\r\n                [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents/testbase6336_event?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14996"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"name\": \"testbase6336_event\",\r\n  \"properties\": {\r\n    \"eventName\": \"testbase6336_event\",\r\n    \"receivers\": [\r\n      {\r\n        \"receiverType\": \"UserObjects\",\r\n        \"receiverValue\": {\r\n          \"userObjectReceiverValue\": {\r\n            \"userObjectIds\": [\r\n              \"test\",\r\n              \"test-2\"\r\n            ]\r\n          },\r\n          \"subscriptionReceiverValue\": null,\r\n          \"distributionGroupListReceiverValue\": null\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents/testbase1499_event?api-version=2020-12-16-preview",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/dc927299-dd96-46f9-8688-8bcf3d189734?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14998"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/dc927299-dd96-46f9-8688-8bcf3d189734?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestCustomerEvent": [
      "testbase7222"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}