{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14982"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"testbase6336_event\",\r\n      \"properties\": {\r\n        \"eventName\": \"testbase6336_event\",\r\n        \"receivers\": [\r\n          {\r\n            \"receiverType\": \"UserObjects\",\r\n            \"receiverValue\": {\r\n              \"userObjectReceiverValue\": {\r\n                \"userObjectIds\": [\r\n                  \"test\",\r\n                  \"test-2\"\r\n                ]\r\n              },\r\n              \"subscriptionReceiverValue\": null,\r\n              \"distributionGroupListReceiverValue\": null\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testbase2303_event\",\r\n      \"properties\": {\r\n        \"eventName\": \"testbase2303_event\",\r\n        \"receivers\": [\r\n          {\r\n            \"receiverType\": \"UserObjects\",\r\n            \"receiverValue\": {\r\n              \"userObjectReceiverValue\": {\r\n                \"userObjectIds\": [\r\n                  \"test\",\r\n                  \"test-2\"\r\n                ]\r\n              },\r\n              \"subscriptionReceiverValue\": null,\r\n              \"distributionGroupListReceiverValue\": null\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"testbase9379_event\",\r\n      \"properties\": {\r\n        \"eventName\": \"testbase9379_event\",\r\n        \"receivers\": [\r\n          {\r\n            \"receiverType\": \"UserObjects\",\r\n            \"receiverValue\": {\r\n              \"userObjectReceiverValue\": {\r\n                \"userObjectIds\": [\r\n                  \"test\",\r\n                  \"test-2\"\r\n                ]\r\n              },\r\n              \"subscriptionReceiverValue\": null,\r\n              \"distributionGroupListReceiverValue\": null\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents/testbase2062_event?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"eventName\": \"initial-verification\",\r\n    \"receivers\": [\r\n      {\r\n        \"receiverType\": \"UserObjects\",\r\n        \"receiverValue\": {\r\n          \"userObjectReceiverValue\": {\r\n            \"userObjectIds\": [\r\n              \"test\",\r\n              \"test-2\"\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/4a77e015-4c90-47f9-a6cb-d015427c20e1?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents/testbase2062_event\",\r\n  \"name\": \"testbase2062_event\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/customerevents\",\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-07T09:24:25.7824506Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-07T09:24:25.7824506Z\"\r\n  },\r\n  \"properties\": {\r\n    \"eventName\": \"initial-verification\",\r\n    \"receivers\": [\r\n      {\r\n        \"receiverType\": \"UserObjects\",\r\n        \"receiverValue\": {\r\n          \"userObjectReceiverValue\": {\r\n            \"userObjectIds\": [\r\n              \"test\",\r\n              \"test-2\"\r\n            ]\r\n          }\r\n        }\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/4a77e015-4c90-47f9-a6cb-d015427c20e1?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5c01d0bd-0000-0700-0000-60bde5ca0000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/4a77e015-4c90-47f9-a6cb-d015427c20e1\",\r\n  \"name\": \"4a77e015-4c90-47f9-a6cb-d015427c20e1\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/customerEvents/testbase2062_event\",\r\n  \"status\": \"Failed\",\r\n  \"startTime\": \"2021-06-07T09:24:25.8936198Z\",\r\n  \"endTime\": \"2021-06-07T09:24:26.5590538Z\",\r\n  \"percentComplete\": 100.0\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "TestCustomerEvent": [
      "testbase2062"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}