{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs?osUpdateType=Security%20updates&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14993"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-21H1-FeatureUpdate\",\r\n      \"name\": \"Windows-10-21H1-FeatureUpdate\",\r\n      \"properties\": {\r\n        \"osId\": \"Windows 10 21H1\",\r\n        \"osName\": \"Windows 10 21H1\",\r\n        \"osVersion\": \"Windows10\",\r\n        \"osPlatform\": \"Unknown\",\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"insiderChannel\": \"Insider Beta Channel\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-20H2-FeatureUpdate\",\r\n      \"name\": \"Windows-10-20H2-FeatureUpdate\",\r\n      \"properties\": {\r\n        \"osId\": \"Windows 10 20H2\",\r\n        \"osName\": \"Windows 10 20H2\",\r\n        \"osVersion\": \"Windows10\",\r\n        \"osPlatform\[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-1909?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-1909' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}