{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/favoriteProcesses/AM_Base.exe?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "provider-api-validation"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"HttpResponsePayloadAPISpecValidationFailed\",\r\n    \"target\": \"Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/favoriteProcesses/AM_Base.exe\",\r\n    \"message\": \"Failed to create HTTP response as per the API specification with one or more errors. Please see details for more information. Consider to retry operation with api-versions ''.\",\r\n    \"details\": [\r\n      {\r\n        \"code\": \"ObjectMissingRequiredProperty\",\r\n        \"message\": \"Missing required property: actualProcessName. Paths in payload: '$.properties.actualProcessName'\"\r\n      }\r\n    ]\r\n  }\r\n}",
      "StatusCode": 412
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"2d005f8c-0000-0700-0000-608a4edd0000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14972"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9FABF001-9C1F-4AAB-9451-E431DA271956/resourceGroups/TESTBASE_RG/providers/Microsoft.TestBase/testbaseAccounts/TESTBASEACCOUNT_KAIFA\",\r\n  \"name\": \"TESTBASEACCOUNT_KAIFA\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Failed\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/20210607172606916?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/20210607172606916' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ],\r\n      \"tier\": \"Standard\"\r\n    }\r\n  },\r\n  \"tags\": {\r\n    \"testbase9275_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"location\": \"Global\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"00006a5f-0000-0700-0000-60bde6320000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/216e1f58-158f-4759-9481-14706d32e57a?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/216e1f58-158f-4759-9481-14706d32e57a?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc\",\r\n  \"name\": \"testbase9275_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"testbase9275_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-07T09:26:09.8246627Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-07T09:26:09.8246627Z\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ],\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Accepted\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/216e1f58-158f-4759-9481-14706d32e57a?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5c0178c2-0000-0700-0000-60bde6350000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14993"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/216e1f58-158f-4759-9481-14706d32e57a\",\r\n  \"name\": \"216e1f58-158f-4759-9481-14706d32e57a\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-07T09:26:09.9959117Z\",\r\n  \"endTime\": \"2021-06-07T09:26:13.0939757Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"Sku\": {\r\n      \"Name\": \"S0\",\r\n      \"Tier\": \"Standard\"\r\n    },\r\n    \"AccessLevel\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"00006c5f-0000-0700-0000-60bde6350000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14971"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc\",\r\n  \"name\": \"testbase9275_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"testbase9275_acc_kaifa\": \"tagvalue\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S0\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ],\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"accessLevel\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0000715f-0000-0700-0000-60bde6550000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14970"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc\",\r\n  \"name\": \"testbase9275_acc\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts\",\r\n  \"location\": \"Global\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210607 172642\"\r\n  },\r\n  \"properties\": {\r\n    \"sku\": {\r\n      \"name\": \"S1\",\r\n      \"locations\": [\r\n        \"Global\"\r\n      ],\r\n      \"tier\": \"Standard\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"accessLevel\": \"None\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/01b46f87-bdf9-4f22-881d-e5dc581c4e59?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5c01d1c3-0000-0700-0000-60bde6550000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14992"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/01b46f87-bdf9-4f22-881d-e5dc581c4e59\",\r\n  \"name\": \"01b46f87-bdf9-4f22-881d-e5dc581c4e59\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-07T09:26:42.7270071Z\",\r\n  \"endTime\": \"2021-06-07T09:26:45.4127036Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"Sku\": {\r\n      \"Name\": \"S1\",\r\n      \"Tier\": \"Standard\"\r\n    },\r\n    \"AccessLevel\": \"None\",\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testbase9275_acc/offboard?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/fac7fa7a-af81-4278-a195-5b765426dc77?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/fac7fa7a-af81-4278-a195-5b765426dc77?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestTestBaseAccountOperations": [
      "testbase9275"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}