{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/20210607172540825?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14992"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/20210607172540825' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=scriptExecution&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14991"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/scriptExecution\",\r\n      \"name\": \"scriptExecution\",\r\n      \"type\": \"testBaseAccounts/packages/testResults/analysisResults\",\r\n      \"properties\": {\r\n        \"grade\": \"None\",\r\n        \"analysisResultType\": \"ScriptExecution\",\r\n        \"scriptExecutionResults\": [\r\n          {\r\n            \"scriptName\": \"install\",\r\n            \"startTime\": \"2021-04-20T03:58:31.798Z\",\r\n            \"endTime\": \"2021-04-20T03:58:42.986Z\",\r\n            \"exitCode\": 0,\r\n            \"timedOut\": false\r\n          },\r\n          {\r\n            \"scriptName\": \"launch\",\r\n            \"startTime\": \"2021-04-20T04:25:54.757Z\",\r\n            \"endTime\": \"2021-04-20T04:26:01.632Z\",\r\n            \"exitCode\": 0,\r\n            \"timedOut\": false\r\n          },\r\n          {\r\n            \"scriptName\": \"close\",\r\n            \"startTime\": \"2021-04-20T04:26:04.179Z\",\r\n            \"endTime\": \"2021-04-20T04:26:04.663Z\",\r\n            \"exitCode\": 0,\r\n            \"timedOut\": false\r\n          },\r\n          {\r\n            \"scriptName\": \"uninstall\",\r\n            \"startTime\": \"2021-04-20T04:26:54.882Z\",\r\n            \"endTime\": \"2021-04-20T04:26:56.554Z\",\r\n            \"exitCode\": 0,\r\n            \"timedOut\": false\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  ]\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=CPUUtilization&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14990"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/cpuUtilization\",\r\n      \"name\": \"cpuUtilization\",\r\n      \"type\": \"testBaseAccounts/packages/testResults/analysisResults\",\r\n      \"properties\": {\r\n        \"grade\": \"None\",\r\n        \"analysisResultType\": \"CPUUtilization\",\r\n        \"cpuUtilizationResults\": [\r\n          {\r\n            \"process\": \"_total\",\r\n            \"upperBound\": {\r\n              \"percentile\": 0.9,\r\n              \"value\": 32.307793\r\n            },\r\n            \"lowerBound\": {\r\n              \"percentile\": 0.1,\r\n              \"value\": 0.71738636\r\n            },\r\n            \"utilization\": [\r\n              {\r\n                \"timestamp\": \"2021-04-20T03:49:00Z\",\r\n                \"value\": 0.7694066\r\n              },\r\n              {\r\n                \"timestamp\": \"2021-04-20T03:49:20Z\",\r\n                \"value\": 1.154396\r\n              },\r\n              {\r\n                \"timestamp\": \"2021-04-20T03:49:40Z\",\r\n                \"value\": 7.4219165\r\n              },\r\n              {\r\n                \"timestamp\": \"2021-04-20T03:50:00Z\",\r\n                \"value\": 100.0\r\n              },\r[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=memoryRegression&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14989"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=memoryUtilization&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14988"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/memoryUtilization\",\r\n      \"name\": \"memoryUtilization\",\r\n      \"type\": \"testBaseAccounts/packages/testResults/analysisResults\",\r\n      \"properties\": {\r\n        \"grade\": \"None\",\r\n        \"analysisResultType\": \"MemoryUtilization\",\r\n        \"memoryUtilizationResults\": [\r\n          {\r\n            \"process\": \"_total\",\r\n            \"upperBound\": {\r\n              \"percentile\": 0.9,\r\n              \"value\": 3112923100.0\r\n            },\r\n            \"lowerBound\": {\r\n              \"percentile\": 0.1,\r\n              \"value\": 2137059300.0\r\n            },\r\n            \"utilization\": [\r\n              {\r\n                \"timestamp\": \"2021-04-20T03:49:00Z\",\r\n                \"value\": 2049880100.0\r\n              },\r\n   [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=reliability&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14987"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/reliability\",\r\n      \"name\": \"reliability\",\r\n      \"type\": \"testBaseAccounts/packages/testResults/analysisResults\",\r\n      \"properties\": {\r\n        \"grade\": \"NotAvailable\",\r\n        \"analysisResultType\": \"Reliability\",\r\n        \"reliabilityResults\": [\r\n          {\r\n            \"fileName\": \"AM_Base.exe\",\r\n            \"launchCount\": 1,\r\n            \"crashCount\": 0,\r\n            \"hangCount\": 0,\r\n            \"crashRegressionTestDetails\": null,\r\n            \"hangRegressionTestDetails\": null,\r\n            \"regressionGrade\": \"NotAvailable\",\r\n            \"hangRegressionGrade\": \"NotAvailable\",\r\n            \"crashRegressionGrade\": \"NotAvailable\"\r\n          },\r\n          {\r\n            \"fileName\": \"AM_Delta.exe\",\r\n            \"launchCount\": 1,\r\n            \"crashCount\": 0,\r\n            \"hangCount\": 0,\r\n            \"crashRegressionTestDetails\": null,\r\n            \"hangRegressionTestDetails\": null,\r\n            \"regressionGrade\": \"NotAvailable\",\r\n            \"hangRegressionGrade\": \"NotAvailable\",\r\n            \"crashRegressionGrade\": \"NotAvailable\"\r\n          },\r\n        [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults?analysisResultType=CPURegression&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14986"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/scriptExecution?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/CPUUtilization?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/memoryRegression?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14983"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/memoryRegression' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/memoryUtilization?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads":[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/reliability?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
   [...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/CPURegression?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0/testResults/TestResult-98f12f56-9cd9-4b21-8eab-7acf448c46df/analysisResults/CPURegression' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}