{
  "Entries": [
    {
      "RequestUri": "/providers/Microsoft.TestBase/operations?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14997"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Microsoft.TestBase/testBases/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.TestBase\",\r\n        \"resource\": \"testBases\",\r\n        \"operation\": \"TestBases_ListBySubscription\",\r\n        \"description\": \"Lists all the Test Bases in a subscription. This API is required by ARM guidelines.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"Microsoft.TestBase/testBases/read\",\r\n      \"isDataAction\": false,\r\n      \"display\": {\r\n        \"provider\": \"Microsoft.TestBase\",\r\n        \"resource\": \"testBases\",\r\n        \"operation\": \"TestBases_List\",\r\n        \"description\": \"Lists all the Test Bases in a resource group.\"\r\n      }\r\n    },\r\n    {\r\n      \"name\": \"M[...]
