{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs?osUpdateType=SecurityUpdate&api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14998"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-21H1\",\r\n      \"name\": \"Windows-10-21H1\",\r\n      \"properties\": {\r\n        \"osId\": \"Windows 10 21H1\",\r\n        \"osName\": \"Windows 10 21H1\",\r\n        \"osVersion\": \"Windows10\",\r\n        \"osPlatform\": \"Unknown\",\r\n        \"osUpdateType\": \"FeatureUpdate\",\r\n        \"insiderChannel\": \"Insider Beta Channel\"\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-20H2\",\r\n      \"name\": \"Windows-10-20H2\",\r\n      \"properties\": {\r\n        \"osId\": \"Windows 10 20H2\",\r\n        \"osName\": \"Windows 10 20H2\",\r\n        \"osVersion\": \"Windows10\",\r\n        \"osPlatform\": \"Unknown\",\r\n        \[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/20210427160702611?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14997"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "x-ms-failure-cause": [
          "service"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceReadFailed\",\r\n    \"message\": \"Failed to read resource '/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/20210427160702611' with error: Not Found\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-1803?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14994"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/availableOSs/Windows-10-1803\",\r\n  \"name\": \"Windows-10-1803\",\r\n  \"properties\": {\r\n    \"osId\": \"Windows 10 1803\",\r\n    \"osName\": \"Windows 10 1803\",\r\n    \"osVersion\": \"Windows10\",\r\n    \"osPlatform\": \"Unknown\",\r\n    \"osUpdateType\": \"WindowsUpdate\",\r\n    \"insiderChannel\": null\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}