{
  "Entries": [
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14969"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/TESTBASEACCOUNT_KAIFA/packages/package1_kaifa-2.0\",\r\n      \"name\": \"package1_kaifa-2.0\",\r\n      \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n      \"location\": \"global\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"applicationName\": \"package1_kaifa\",\r\n        \"version\": \"2.0\",\r\n        \"testTypes\": [\r\n          \"OutOfBoxTest\"\r\n        ],\r\n        \"targetOSList\": [\r\n          {\r\n            \"osUpdateType\": \"Feature updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\"\r\n            ]\r\n          },\r\n          {\r\n            \"osUpdateType\": \"Security updates\",\r\n            \"targetOSs\": [\r\n              \"Windows 10 20H2\",\r\n              \"Windows 10 2004\",\r\n              \"Windows 10 1909\",\r\n              \"All Future OS Updates\",\r\n              \"Windows Server 2019\",\r\n              \"Windows Server 2019 - Server Core\",\r\n              \"Windows Server 2016\",\r\n              \"Windows Server 2016 - Server Core\"\r\n            ]\r\n          }\r\n        ],\r\n        \"packageStatus\": \"Ready\",\r\n        \"lastModifiedTime\": \"2021-05-13T01:40:46Z\",\r\n        \"flightingRing\": \"Insider Beta Channel\",\r\n        \"isEnabled\": true,\r\n        \"blobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/320288be-68d2-4c6c-aaf5-c4ac3edd0709/test.zip?sv=2019-07-07&sr=b&sig=vagrCcV7g0gP0%2FREZkhIzp0%2FNeXlw8Xq0EQSV2iNKkU%3D&se=2021-05-14T01%3A38%3A56Z&sp=acw\",\r\n        \"validationResults\": [\r\n          {\r\n            \"validationName\": \"Sanity Checks Validator\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"CopyZipPackage\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          },\r\n          {\r\n            \"validationName\": \"SchedulePackageValidationRun\",\r\n            \"isValid\": true,\r\n            \"errors\": []\r\n          }\r\n        ],\r\n        \"tests\": [\r\n          {\r\n            \"testType\": \"OutOfBoxTest\",\r\n            \"validationRunStatus\": \"Passed\",\r\n            \"isActive\": true,\r\n            \"commands\": [\r\n              {\r\n                \"name\": \"install\",\r\n                \"action\": \"Install\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/install/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": false\r\n              },\r\n              {\r\n                \"name\": \"launch\",\r\n                \"action\": \"Launch\",\r\n                \"contentType\": \"Path\",\r\n                \"content\": \"test/scripts/launch/job.ps1\",\r\n                \"runElevated\": false,\r\n                \"restartAfter\": false,\r\n                \"maxRunTime\": 0,\r\n                \"runAsInteractive\": false,\r\n                \"alwaysRun\": false,\r\n                \"applyUpdateBefore\": fal[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210607172719910?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-failure-cause": [
          "gateway"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceNotFound\",\r\n    \"message\": \"The Resource 'Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/20210607172719910' under resource group 'testbase_rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix\"\r\n  }\r\n}",
      "StatusCode": 404
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/package2_kaifa-1.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"0101ba8a-0000-0700-0000-60af04c70000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14981"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/TESTBASEACCOUNT_KAIFA/packa[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/getFileUploadUrl?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"blobName\": \"test.zip\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"uploadUrl\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/d2502ac4-ae16-43b8-b7fd-f3e15e208979/test.zip?sv=2019-07-07&sr=b&sig=zX1nfWZyvxXBLOTY5AmI1FlAiU3WZ%2FCIaMlBEQKv4CI%3D&se=2021-06-08T09%3A27%3A21Z&sp=acw\",\r\n  \"blobPath\": \"c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/d2502ac4-ae16-43b8-b7fd-f3e15e208979/test.zip\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7714_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"ta[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/20817689-ed5f-4d01-8242-7c482e1bf5b9?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5c01b6c5-0000-0700-0000-60bde6800000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14988"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/20817689-ed5f-4d01-8242-7c482e1bf5b9\",\r\n  \"name\": \"20817689-ed5f-4d01-8242-7c482e1bf5b9\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-07T09:27:26.2622908Z\",\r\n  \"endTime\": \"2021-06-07T09:27:28.6087395Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"ApplicationName\": \"testbase7714_pkg\",\r\n    \"Version\": \"1.0.0\",\r\n    \"TargetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windows 10 20H2\",\r\n          \"Windows 10 2004\",\r\n          \"Windows 10 1909\",\r\n          \"All Future OS Updates\",\r\n          \"Windows Server 2019\",\r\n          \"Windows Server 2019 - Server Core\",\r\n          \"Windows Server 2016\",\r\n          \"Windows Server 2016 - Server Core\"\r\n        ]\r\n      }\r\n    ],\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"FlightingRing\": \"Insider Beta Channel\",\r\n    \"BlobPath\": \"https://tbwestusppesa.blob.core.windows.net/c0097881-16f2-4c2a-b6f1-1e2c7d7cb8e7/temp/d2502ac4-ae16-43b8-b7fd-f3e15e208979/test.zip\",\r\n    \"Tests\": [\r\n      {\r\n        \"testType\": \"OutOfBoxTest\",\r\n        \"validationRunStatus\": \"Unknown\",\r\n        \"isActive\": true,\r\n        \"commands\": [\r\n          {\r\n            \"name\": \"install\",\r\n            \"action\": \"Install\",\r\n            \"contentType\": \"Path\",\r\n            \"content\": \"test/scripts/install/job.ps1\",\r\n            \"runElevated\": false,\r\n            \"restartAfter\": true,\r\n            \"maxRunTime\": 1800,\r\n            \"runAsIn[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"e200b4f2-0000-0700-0000-60bde6800000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14980"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0\",\r\n  \"name\": \"testbase7714_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"test\": \"test\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7714_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windo[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"e2000ef4-0000-0700-0000-60bde6a20000\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14979"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0\",\r\n  \"name\": \"testbase7714_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210607_172758\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7714_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"testTypes\": [\r\n      \"OutOfBoxTest\"\r\n    ],\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0?api-version=2020-12-16-preview",
      "RequestMethod": "PATCH",
      "RequestBody": "{\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210607_172758\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "ETag": [
          "\"e200eaf3-0000-0700-0000-60bde69f0000\""
        ],
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/37507b9d-e730-43ea-a20c-cb2e22f333b4?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1195"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/37507b9d-e730-43ea-a20c-cb2e22f333b4?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0\",\r\n  \"name\": \"testbase7714_pkg-1.0.0\",\r\n  \"type\": \"microsoft.testbase/testbaseaccounts/packages\",\r\n  \"location\": \"global\",\r\n  \"etag\": \"\\\"e200b4f2-0000-0700-0000-60bde6800000\\\"\",\r\n  \"tags\": {\r\n    \"tagkey\": \"tagvalue_20210607_172758\"\r\n  },\r\n  \"systemData\": {\r\n    \"createdBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"createdByType\": \"Application\",\r\n    \"createdAt\": \"2021-06-07T09:27:26.0381751Z\",\r\n    \"lastModifiedBy\": \"c7ffd595-6c07-4e87-a52f-810916ffaec5\",\r\n    \"lastModifiedByType\": \"Application\",\r\n    \"lastModifiedAt\": \"2021-06-07T09:27:58.7419476Z\"\r\n  },\r\n  \"properties\": {\r\n    \"applicationName\": \"testbase7714_pkg\",\r\n    \"version\": \"1.0.0\",\r\n    \"targetOSList\": [\r\n      {\r\n        \"osUpdateType\": \"Feature updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 20H2\"\r\n        ]\r\n      },\r\n      {\r\n        \"osUpdateType\": \"Security updates\",\r\n        \"targetOSs\": [\r\n          \"Windows 10 21H1\",\r\n          \"Windows 10 20H2\",\r\n          \"Windows[...]
    {
      "RequestUri": "/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/37507b9d-e730-43ea-a20c-cb2e22f333b4?api-version=2020-12-16-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "ETag": [
          "\"5c0132c7-0000-0700-0000-60bde6a10000\""
        ],
        "x-ms-ratelimit-remaining-tenant-reads": [
          "14990"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/37507b9d-e730-43ea-a20c-cb2e22f333b4\",\r\n  \"name\": \"37507b9d-e730-43ea-a20c-cb2e22f333b4\",\r\n  \"resourceId\": \"/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0\",\r\n  \"status\": \"Succeeded\",\r\n  \"startTime\": \"2021-06-07T09:27:58.8924962Z\",\r\n  \"endTime\": \"2021-06-07T09:28:01.4103135Z\",\r\n  \"percentComplete\": 100.0,\r\n  \"properties\": {\r\n    \"PackageStatus\": \"Unknown\",\r\n    \"ProvisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/9fabf001-9c1f-4aab-9451-e431da271956/resourceGroups/testbase_rg/providers/Microsoft.TestBase/testBaseAccounts/testBaseAccount_kaifa/packages/testbase7714_pkg-1.0.0/hardDelete?api-version=2020-12-16-preview",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/d28093e1-3038-49f4-b426-3b57a7ca84be?api-version=2020-12-16-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ],
        "x-ms-providerhub-traffic": [
          "True"
        ],
        "Azure-AsyncOperation": [
          "https://api-dogfood.resources.windows-int.net/providers/Microsoft.TestBase/locations/NORTHEUROPE/operationStatuses/d28093e1-3038-49f4-b426-3b57a7ca84be?api-version=2020-12-16-preview"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "null",
      "StatusCode": 202
    }
  ],
  "Names": {
    "TestPackageOperations": [
      "testbase7714"
    ]
  },
  "Variables": {
    "SubscriptionId": "9fabf001-9c1f-4aab-9451-e431da271956"
  }
}